<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bitcamp.newdeal.repository.MemberRepository">

	<resultMap type="member" id="memberMap">
		<id column="MNO" property="memberNo" />
		<result column="MID" property="memberId" />
		<result column="NAME" property="memberName" />
		<result column="PWD" property="memberPwd" />
		<result column="SDT" property="memberEntryDate" />
		<result column="MDT" property="memberModifyDate" />
	</resultMap>

	<select id="selectList" resultMap="memberMap">
        SELECT
            MNO,
            MID,
            NAME,
            SDT,
            MDT
		FROM P0_MEMB
	</select>
	
	<select id="findByIdAndPassword" parameterType="map" resultMap="memberMap">
	   SELECT MID
	   FROM P0_MEMB
	   WHERE MID=#{id} AND PWD=PASSWORD(#{password})
	</select>
	
	<insert id="insertMember" parameterType="Member">
	   INSERT INTO P0_MEMB (MID, NAME, PWD, SDT, MDT)
	   VALUES(#{memberId}, #{memberName}, PASSWORD(#{memberPwd}), NOW(), NOW())
	</insert>
	
	<select id="findByNo" parameterType="int" resultMap="memberMap">
        SELECT
            MNO,
            MID,
            NAME
		FROM P0_MEMB
		WHERE MNO=#{memberNo}
	</select>
	
    <update id="updateMember" parameterType="Member">
        UPDATE P0_MEMB
        SET
            NAME=#{memberName},
            MDT=NOW()
            <if test="memberPwd != null and memberPwd != ''">
            ,PWD=PASSWORD(#{memberPwd})
            </if>
        WHERE MNO=#{memberNo}
    </update>
    
    <select id="findById" parameterType="string" resultType="string">
        SELECT MID
        FROM P0_MEMB
        WHERE MID=#{id}
    </select>
    
    <select id="findByGId" parameterType="string" resultMap="memberMap">
        SELECT *
        FROM P0_MEMB
        WHERE MID=#{id}
    </select>
    
    <delete id="dropID" parameterType="string">
    delete from P0_MEMB
    where MID=#{id}
    </delete>
</mapper>




