<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bitcamp.newdeal.repository.TravelRepository">

	<resultMap type="travel" id="travelMap">
		<id column="TNO" property="travelNo" />
		<result column="SAP" property="startAirportNo" />
		<result column="AAP" property="arriveAirportNo" />
		<result column="SDT" property="startTravelTime" />
		<result column="ADT" property="arriveTravelTime" />
		<result column="IDT" property="travelEntryDate" />
		<result column="MDT" property="travelModifyDate" />
		<result column="SAPNAME" property="startAirportName" />
		<result column="AAPNAME" property="arriveAirportName" />
	</resultMap>

	<select id="selectList" resultMap="travelMap">
		select
		TR.TNO,
		TR.SAP,
		TR.AAP,
		TR.SDT,
		TR.ADT,
		SA.NAME SAPNAME,
		AA.NAME AAPNAME
		from P0_TRVL TR
		JOIN P0_AP
		SA ON TR.SAP = SA.ANO
		JOIN P0_AP AA
		ON TR.AAP = AA.ANO
	</select>
	
	<select id="showFutureReservation" resultMap="travelMap">
        select
        TR.TNO,
        TR.SAP,
        TR.AAP,
        TR.SDT,
        TR.ADT,
        SA.NAME SAPNAME,
        AA.NAME AAPNAME
        from P0_TRVL TR
        JOIN P0_AP SA ON TR.SAP = SA.ANO
        JOIN P0_AP AA
        ON TR.AAP
        = AA.ANO
        JOIN P0_RSV rsv on TR.TNO = rsv.TNO
        where rsv.MNO = #{value}
        and TR.SDT > NOW()
    </select>
    
	<select id="get" resultMap="travelMap" parameterType="int">
		select
		TR.TNO,
		TR.SAP,
		TR.AAP,
		TR.SDT,
		TR.ADT,
		SA.NAME SAPNAME,
		AA.NAME AAPNAME
		from P0_TRVL TR
		JOIN P0_AP SA ON TR.SAP = SA.ANO
		JOIN P0_AP AA
		ON TR.AAP
		= AA.ANO
		where TR.TNO = #{value}
	</select>

	<select id="showReservations" resultMap="travelMap"
		parameterType="int">
        select
        TR.TNO,
        TR.SAP,
        TR.AAP,
        TR.SDT,
        TR.ADT,
        SA.NAME SAPNAME,
        AA.NAME AAPNAME
        from P0_TRVL TR
        JOIN P0_AP SA ON TR.SAP = SA.ANO
        JOIN P0_AP AA
        ON TR.AAP
        = AA.ANO
        JOIN P0_RSV rsv on TR.TNO = rsv.TNO
		where rsv.MNO = #{value}
	</select>
	<select id="findByStartArriveAPNoStartDate" resultMap="travelMap" parameterType="map">
        select
        TR.TNO,
        TR.SAP,
        TR.AAP,
        TR.SDT,
        TR.ADT,
        SA.NAME SAPNAME,
        AA.NAME AAPNAME
        from P0_TRVL TR
        JOIN P0_AP
        SA ON TR.SAP = SA.ANO
        JOIN P0_AP AA
        ON TR.AAP = AA.ANO
        where
        TR.SAP = #{startAPNo}
        and
        TR.AAP = #{arriveAPNo}
        and
        DATE(TR.SDT) = #{startDate}
    </select>
    
    <select id="findByStartAP" resultMap="travelMap" parameterType="int">
        SELECT
           DISTINCT TR.AAP,
             AA.NAME AAPNAME
        FROM P0_TRVL TR
            JOIN P0_AP AA ON TR.AAP = AA.ANO
        WHERE
            TR.SAP = #{no}
            ORDER BY AAPNAME
    </select>
</mapper>




